@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom components */
@layer components {
    .nav-link {
        @apply px-5 py-2 rounded-lg font-bold text-white hover:bg-white/10 transition;
    }

    .btn-glass {
        @apply px-6 py-2 rounded-lg bg-white/25 border border-white/40 text-white font-bold hover:bg-white/35 transition;
    }

    .mobile-link {
        @apply block px-4 py-3 rounded-lg text-white font-bold hover:bg-white/20;
    }
}

@layer utilities {
    .no-spinner::-webkit-outer-spin-button,
    .no-spinner::-webkit-inner-spin-button {
        margin: 0;
        -webkit-appearance: none;
    }

    .no-spinner {
        -moz-appearance: textfield;
    }
}
